img {
    width: 500px;
    border: 5px solid #0b7fab;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1e4de;
}

p {
    font-family: 'El Messiri', sans-serif;
    font-size: 2rem;
}

h1, h2 {
    font-family: 'Solway', serif;
}

#guess {
    border: 5px solid #0b7fab;
    padding: 6px;
}

